{% extends 'base.html' %}

{% block content %}
    <div class="columns is-multiline">
        
    </div>
    <h1 class="title">The frontpage </h1>

    {% for product in products %}
        {{ product.title }}
    {% endfor %}
{% endblock %}